table{
    border: 1px solid black;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    border-collapse: collapse;

}
th{
    background-color: gray;
    width: 100px;
    border-collapse: collapse;
}

td{
    width: 100px;
    border-collapse: collapse;
}

tr{
    width: fit-content;
    border-collapse: collapse;
}

body{
    width: 700px;
    text-align: center;
}
.delete{
    text-align: center;
}
#head{
background-color: lightgrey;
}